
networks:
  ecomweb_internal_net:
    external: true 

services:

  # ecomweb_website:
  #   container_name: ecomweb_website_service
  #   image: ghcr.io/travistech20/ecomweb-website:latest
  #   env_file:
  #     - .env.website
  #   environment:
  #     - NODE_ENV=production
  #   ports:
  #     - '3003'
  #   restart: always
  #   networks:
  #     - travisbytes_net

  # ecomweb_storefront:
  #   container_name: ecomweb_storefront_service
  #   image: ghcr.io/travistech20/ecomweb-storefront:latest
  #   env_file:
  #     - .env.storefront
  #   environment:
  #     - NODE_ENV=production
  #   ports:
  #     - '3002'
  #   restart: always
  #   networks:
  #     - travisbytes_net

  # ecomweb_app:
  #   container_name: ecomweb_app_service
  #   image: ghcr.io/travistech20/ecomweb-web:latest
  #   env_file:
  #     - .env
  #   environment:
  #     - NODE_ENV=production
  #   ports:
  #     - '3000'
  #   restart: always
  #   networks:
  #     - travisbytes_net

  ecomweb_redis:
    image: redis:latest
    container_name: ecomweb-redis
    restart: always
    ports:
      - "6379"
    volumes:
      - redis-data:/data
    networks:
      - ecomweb_internal_net

  ecomweb_api_blue:
    container_name: ecomweb_api_blue
    image: ${API_BLUE_IMAGE}
    working_dir: /app
    command: [bash, /app/startup.sh]
    env_file:
      - .env.api
    environment:
      - NODE_ENV=production
      - SERVICE_COLOR=blue
    ports:
      - '3001'
    depends_on:
      - ecomweb_redis
    restart: always
    volumes:
      - ./volumes/backend-api/ecosystem.config.js:/app/ecosystem.config.js
      - ./volumes/backend-api/startup.sh:/app/startup.sh
    networks:
      - ecomweb_internal_net
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
    #   interval: 30s
    #   timeout: 20s
    #   retries: 3
    #   start_period: 40s

  ecomweb_api_green:
    container_name: ecomweb_api_green
    image: ${API_GREEN_IMAGE}
    working_dir: /app
    command: [bash, /app/startup.sh]
    env_file:
      - .env.api
    environment:
      - NODE_ENV=production
      - SERVICE_COLOR=green
    ports:
      - '3001'
    depends_on:
      - ecomweb_redis
    restart: always
    volumes:
      - ./volumes/backend-api/ecosystem.config.js:/app/ecosystem.config.js
      - ./volumes/backend-api/startup.sh:/app/startup.sh
    networks:
      - ecomweb_internal_net
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
    #   interval: 30s
    #   timeout: 20s
    #   retries: 3
    #   start_period: 40s          

volumes:
  redis-data: